# API Keys
SERPAPI_KEY=
TAT_API_KEY=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=taluithai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# MongoDB Credentials
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=27017
MONGODB_URI=
