# MongoDB
MONGODB_URI=
MONGODB_DATABASE=google-scrape

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=google_scrape_places

# Embedding Model
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
BATCH_SIZE=256

# HuggingFace (optional, model is public)
HF_TOKEN=
